[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
web3 = "==5.20.0"
eth-account = "*"
bitstring = "*"
python-dotenv = "*"
mpmath = "*"
sympy = "*"
ecdsa = "*"
pytelegrambotapi = "*"
pytest = "*"
pyyaml = "*"
python-box = "*"
schedule = "*"

[dev-packages]

[requires]
python_version = "3.8"
